
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AspNetUsers


<div class="row" style="padding-bottom: 2%">
    <div class="col-8" style="text-align:center">
        <h2>Welcome to your hub!</h2>
        <img src="https://images.unsplash.com/photo-1581913524557-128eedd5871a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80" height="150" alt="Alternate Text" />
    </div>
</div>
<div class="row">
    <div class="col-4" style="text-align: center">
        <p style="border: 3px solid green">Be sure to include your Steam ID to maximize your matches!</p>
        <p style="border: 3px solid yellow">Feedback is important! Be sure to rate your matches fairly and timely!</p>
        <p style="border: 3px solid blue">Use bans to your advantage - if you know you will never match with a user,<br />you can ban them from your searches!</p>
    </div>
    <div class="col-4" style="text-align: center">
        <p style="border: 3px solid red">Follow us on social media at @@GamerMatch on Instagram and Twitter!</p>
        <p style="border: 3px solid purple">Feedback is important! Be sure to rate your matches fairly and timely!</p>
        <p style="border: 3px solid white">Need user support or have other questions about GamerMatch? Email us at gamermatchgc@@gmail.com</p>
    </div>
</div>


