@{
    ViewData["Title"] = "Home Page";
}

<style>
    .imageContainer {
        background-image: url(https://cdn.dribbble.com/users/673549/screenshots/3159371/videogamecontroller_background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="imageContainer" style="padding-bottom: 5%">
    <div class="col-12">

        <div class="text-center" style="padding-top: 5%; font-size: 28px">
            <p>
                Looking to meet fellow gamers?
            </p>
            <p>
                Tired of getting matched with trolls, griefers and downright unfriendly gamers?
            </p>
            <p>
                Let GamerMatch take the guesswork out of finding that last member of your squad!
            </p>
        </div><br />
        <div class="display-1">
            <div class="text-center">
                <p style="font-family: Impact"><i>GamerMatch has entered the chat.</i></p>
            </div>
        </div>
    </div>
</div>

