@{
    ViewData["Title"] = "About GamerMatch";
}

<style>
    .imageContainer {
        background-image: url(https://cdn.dribbble.com/users/673549/screenshots/3159371/videogamecontroller_background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<div class="imageContainer">
    <div class="col-12">
        <div class="display-1">
            <div class="text-center">
                <p style="font-family: Impact">GamerMatch</p>
            </div>
        </div>
        <div class="text-center">
            <p>
                GamerMatch is a hub for gamers to find other gamers with similar interests and make connections<br />
                to further expand their social gaming circle through data comparison.
            </p>
            <p>
                We would love to hear your feedback about our project! <br />Please email us at: gamermatchgc@gmail.com
            </p>
        </div>
    </div>
</div>

